$color-underground-stream: #150c62;
$color-white: #ffffff;
$color-purple-spire: #736c9e;
$color-the-end: #2a2a2a;
$color-brushed-metal: #c8c8c8;
$color-hosta-flower: #dcdee7;
$color-light-easter-rabbit: #d4d0d0;
$color-lead-ore: #99abbd;
$color-tree-palm: #7DAB4D;
$color-sea-salt-sherber: #cbc8c9;
$color-offline: rgb(182, 44, 10);
